html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* 1. Глобальне підключення єдиного шрифту для всіх елементів */
html,
body,
input,
button,
select,
textarea {
    font-family: Arial, Roboto, -apple-system, BlinkMacSystemFont, sans-serif !important;
}

/* 2. Скидання відступів браузера, щоб хедер притискався до країв */
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f5f7;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}